/* Algemene stijl */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-image: url('achtergrond.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 2px 2px 0 #f2b705, 4px 4px 0 #f25c05;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 15px;
  border: 2px solid #f2b705;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;
}

input[type="submit"] {
  display: inline-block;
  background-color: #f2b705;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #f25c05;
}

footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-style: italic;
}
footer {
	background-color: #2d3e50; /* diepblauwe kleur voor een Caribisch thema */
	color: #fff;
	padding: 20px; /* verhoog de opvulling voor meer ruimte */
	text-align: center;
	position: fixed; /* bevestig de footer aan de onderkant van de pagina */
	left: 0;
	bottom: 0;
	width: 100%; /* maak de footer breedte 100% van de pagina */
	box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75); /* voeg een subtiele schaduw toe voor visueel belang */
}