*{
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	background-color: #e6e6e6;
	width: 100%;
	height: 80px;
	text-align: center;
	color: rgb(5, 5, 67);
	font-size: 32px;
}

header p{
	text-align: left;
	padding-top: 20px;
}

nav {
	height: 70px;
	display: flex;
	background-color: rgb(148, 193, 66);
	color: #fff;
}

nav ul{
	padding-left: 420px;
	padding-top: 18px;
}

nav ul li{
	list-style: none;
	display: inline-block;
	padding: 10px;
}

nav ul li a:hover {
    border: 1px solid #005361;
    color: #005361;
    transition: 1s;  
}

nav img{
	min-width: 200px;
	padding-left: 80px;
}

div.container{
	width: 960px;
	margin: 0 auto;
}

div.recept{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

div.recept a{
	text-decoration: none;
	color: rgb(148, 193, 66);;
}

#receptimg{
	height: 300px;
	width: 300px;
}

nav li {
	margin: 0,5em;
	padding: 0,5em;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 20px;
}

div.flexbox{
	padding: top;
	display: flex;
	flex-direction: column;
}


/* */
.recipe {
	border: 1px solid #ccc;
	
	padding: 20px;
}

.recipe h2 {
	margin-top: 0;
	flex-wrap: wrap;
}

.recipe img {
	display: block;
	margin: 0 auto;
	width: 600px;
}

div.blok-tekst2{
	display: inline-flex;
    gap: 10px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
} 